# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
#*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
#
# IaC TerraForm state and config files 
/.terraform*
/*.tfstate*
/kubeconfig
access-key.json
go_admin_credentials_secrets
/document/KPLABS CKA D4 - Security.docx
/document/KPLABS CKA D7 - Storage.docx
/document/KPLABS Course - CKA D1 Core Concepts.docx
/document/KPLABS Course - CKA D2 Workload & Scheduling.docx
/bin/
/certificates/lencr_org.ca
/certificates/lencr_org.cert
/certificates/lencr_org.der
/certificates/lencr_org_cert_chain.pkcs
/certificates/lencr_org_single_cert.pkcs
/tmp/goaccess-1687436961802.json
/tmp/goaccess-1687438652428.json
/tmp/goaccess-1687438712532.json
/tmp/goaccess-1687439163482.json
